{% extends 'main.html' %}
{% load staticfiles %}


{% block main %}
<div class="muClass1" >
    <div class="container marketing">
      
      <!-- Three columns of text below the carousel -->
      
      <div class="row"> 
        <div class="col-lg-12" style="box-shadow: 0 8px 15px rgba(0, 0, 0, .6); border-radius: 5px 5px 5px 5px; padding-top: 20px; background: linear-gradient(45deg,#ffffff, #fffbdf);">
          <div class="row">
           <div class="col-lg-12" style="padding-top: 20px">
             <p style="color: #02845e; text-align: center; font-size: 30px; font-family: Cuprum,  sans-serif;">Зв'язок з нами</p>
          </div>
            </div>  
        <div class="row"> 
        	       	
          <div class="myClass7">       
            <p style="color: #02845e; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 32px; text-align: center; text-align: center;"> ТОВ "ЛКО ГРУП" </p>
            <p style="color: #02845e; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 14px; text-align: center; text-align: center;"> ЄДРПОУ: 40762306</p>
            <p style="color: #02845e; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 14px; text-align: center; text-align: center;"> 03062, м.Київ, вул. Екскаваторна, буд. 35</p>
            <hr class="featurette-divider" style="border-color: #02845e; margin: 15px 375px 15px 375px;">   
            <p style="color: #02845e; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 22px; text-align: center; text-align: center;"><i class="fas fa-phone"></i> 044 207-43-03 </p>
            <hr class="featurette-divider" style="border-color: #02845e; margin: 15px 375px 15px 375px;">
            <p style="color: #02845e; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 22px; text-align: center; text-align: center;"><i class="fas fa-fax"></i> 044 207-43-11 </p>
            <hr class="featurette-divider" style="border-color: #02845e; margin: 15px 375px 15px 375px;">
            <p style="color: #02845e; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 22px; text-align: center; text-align: center;"><i class="fas fa-envelope"></i> ooolko.p@gmail.com </p>
            <hr class="featurette-divider" style="border-color: #02845e; margin: 15px 375px 15px 375px;">       

               
          </div>


             <p style="margin-top: 35px; color: #02845e; text-align: center; font-size: 30px; font-family: Cuprum,  sans-serif;">Карта проїзду</p>
          

          <div class="myClass7">    

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12101.399501274043!2d30.564413038810393!3d50.38508921221709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c60a18c96629%3A0x39c62430a7385163!2z0JvQutC-!5e0!3m2!1sru!2sua!4v1529586435126"  width="100%" height="400" style=" border-radius: 5px 5px 5px 5px; " allowfullscreen></iframe>

               
          </div>
          <p style="margin-top: 35px; color: #02845e; text-align: center; font-size: 30px; font-family: Cuprum,  sans-serif;">Напишіть нам.</p>
          <wrapper>
            <div id="myBtn" class="dws1">
              <div id="myBtn" class="pulse1">
              <div id="myBtn" class="block1"></div>
              <div id="myBtn" class="phone1"><i class="far fa-envelope"></i></div>
              <div id="myBtn" class="text1">Написати</div>
              </div>
            </div>
            </wrapper>
            
            <div class="myClass7">       
            
            <hr class="featurette-divider" style="border-color: #02845e; margin: 15px 375px 15px 375px;"> 
            {% for message in messages %}        
            <p style="color: #02845e; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 22px; text-align: center; text-align: center;"> {{ message.visitor}}</p>
            <p style="color: #02845e; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 16px; text-align: center; text-align: center;"> {{ message.text}}</p>
            <p style="color: #02845e; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 12px; text-align: center; text-align: center;"> {{ message.date}}</p>
            

          {% for test in message.comments_set.all %}
          <p style="color: red; margin: 25px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 12px; text-align: center; text-align: center;">Адміністрація:</p>
          <p style="color: red; margin: 0px 15px 0px 15px; font-family: Cuprum, sans-serif; font-size: 12px; text-align: center; text-align: center;"> {{test.comments_text}}</p>          
          {% endfor %} 
          <hr class="featurette-divider" style="border-color: #02845e; margin: 15px 375px 15px 375px;">              
          {% endfor %}
          



          <div id="myModal" class="myModal">
            <div class="modal-content-1">
              <span class="close1"><a style=" color: #02845e;  text-decoration: none;" href="">&times;</a></span>


           <form role="form" action="/contacts/addmessage/" method="post">
              {% csrf_token %}
            <div class="form-group">
              <label style="color: #02845e;" for="visitor">Ім'я та прізвище:</label>
              <input type="text" class="form-control" name="visitor" id="visitor" placeholder="Ім'я та прізвище">              
            </div>
            <div class="form-group">
              <label style="color: #02845e;" for="textarea">Повідомлення:</label>
              <textarea type="text"class="form-control" id="text" name="text" rows="3" placeholder="Текст повідомлення"></textarea>
            </div>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LdGrGsUAAAAACTWgEKfiIiwaKSXF7rjdOg8Ya0d"></div>
            <div style="margin-top: 15px">
              <button type="submit" class="btn btn-default active">Відправити</button>
            </div>
            
          </form>
        </div>
        </div>


               
          </div>
        </div>    
            
    </div>
      <!-- FOOTER -->
{% endblock %}