{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЛКО ГРУП</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static "js/script.js" %}"></script> 

    <!-- recaptcha -->
    

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">    
    

</head>
<body  style="background: linear-gradient(-45deg,#04130d, #02845e);" >
  <header>
    <nav class="dws-menu">
      <input type="checkbox" name="toggle" id="menu1" class="toggleMenu">
      <label for="menu1" class="toggleMenu"><i class="fas fa-bars"></i>Меню</label>
      <ul>
      <li><a href="/"><i class="fas fa-home"></i>Головна</a></li>
      <li><a href="{% url 'brands' %}"><i class="fas fa-shopping-cart"></i>Продукція</a></li>
      <li><a href="{% url 'vacancy' %}"><i class="fas fa-briefcase"></i>Вакансії</a></li>
      <li><a href="{% url 'contacts' %}"><i class="fas fa-mobile-alt"></i>Контакти</a></li>
    </ul>
    </nav>
  </header>
{% block main %}
{% endblock %}



<!-- Modal -->
<!-- Модальное Окно  -->
<div id="overlay">
    <div class="popup">
        <p style="margin-top: 5px; text-align: center; color: #02845e; font-size: 25px; font-family: Bitter,Helvetica,Arial,sans-serif;"> УВАГА! </p>
        <p style="text-align: center; color: #02845e; font-size: 85px"> 18+ </p>
        <p style="text-align: center; color: #02845e; font-size: 25px">Вам виповнилось 18 років?</p> 

        <div class = "Absolute-Center">
          <button class="butt" onclick="document.getElementById('overlay').style.display='none';">Так</button>
        </div>        
          
       
    </div>
</div>

<!--============= MODAL WINDOW END==================================-->


      <footer>       
       
        <p style="margin-top: 25px; text-align: center; color: #ffffff">© 2005 - 2018 LKO Grup Company.</p>
      </footer>

    </div><!-- /.container -->
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js'></script>

<script type="text/javascript">    

$(document).ready(function(){
  // Проверяем запись в куках о посещении
  // Если запись есть - ничего не происходит
     if (!$.cookie('hideModal')) {
  // если cookie не установлено появится окно
  // с задержкой 5 секунд
  var delay_popup = 2000;
  setTimeout("document.getElementById('overlay').style.display='block'", delay_popup);
     }
     $.cookie('hideModal', true, {
   // Время хранения cookie в днях
  expires: 1,
  path: '/'
   });
});

var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close1")[0];

btn.onclick = function(){
  modal.style.display = "block";
}
span.onclick = function(){
  modal.style.display = "none";
}
window.onclick = function(event){
  if (event.target == modal){
    modal.style.display = "none";
  }
}

</script>



</body>
</html>